@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #faf2e2;
  color: #222222;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #9ea6b04d;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #9ea6b04d;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px;
  gap: 38px;
  background: #faf2e2;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #222222;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #ff9900;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
    margin-right: 178px;
  }
  .header {
    width: 100%;

    height: 72px;
    padding: 10px 20px 10px 108px;
    display: flex;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;

    padding-block: 0;
    flex: 1;
    gap: 48px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 106px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hs.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: "Baloo 2", serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-transform: uppercase;
  background: linear-gradient(180deg, #f5b94e 0%, #ff9900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 16px 0 408px;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;
    padding: 150px 0px 0px;
    background-image: url("/img/home/hero\ section.png");
  }

  .home-title {
    font-size: 62px;
    font-weight: 800;
    line-height: 64px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 600px;
  }
  .home-title-two {
    font-size: 56px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 16px 0 58px;
  }
}
.about {
  padding: 60px 16px 0px;
  margin: auto;
  width: 375px;
  height: 731px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/About\ Us\ Section.png");
}

.about-title {
  font-family: "Baloo 2", serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #222222;
  text-transform: uppercase;
}
.about-title-bold {
  color: #d5181c;
}
.about-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 24px 0px 0;
}
.about-text-bold {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 173px 212px 0 731px;
    margin: auto;
    width: 1440px;
    height: 561px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-image: url("/img/about/Frame\ 554.png");
  }

  .about-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 32px 0 0;
  }
  .about-text-bold {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 30px 16px;
}

.how-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-item {
  width: 343px;
  height: 280px;
  padding: 24px;
  border-radius: 18px;
  background: #4caf50;
  box-shadow: 0px 4px 0px 0px #3c9440;
}
.how-item-two {
  background: #2196f3;
  box-shadow: 0px 4px 0px 0px #187bc9;
}
.how-item-three {
  background: #a0522d;
  box-shadow: 0px 4px 0px 0px #7d4024;
}
.how-img {
  margin: auto;
}
.how-text-bold {
  padding: 24px 0 8px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}
.how-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    margin: auto;
    padding: 60px 108px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/how/BG_how_to\ play.png");
  }
  .how-list {
    padding-top: 80px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .how-item {
    width: 392px;
    height: 282px;
    padding: 24px 60px;
    border-radius: 18px;
    background: #4caf50;
    box-shadow: 0px 4px 0px 0px #3c9440;
  }
  .how-item-two {
    background: #2196f3;
    box-shadow: 0px 4px 0px 0px #187bc9;
  }
  .how-item-three {
    background: #a0522d;
    box-shadow: 0px 4px 0px 0px #7d4024;
  }
  .how-item-four {
    width: 600px;
    padding: 48px 86px;
    background: #a0522d;
    box-shadow: 0px 4px 0px 0px #7d4024;
  }
  .how-item-five {
    width: 600px;
    padding: 48px 86px;
    background: #4caf50;
    box-shadow: 0px 4px 0px 0px #3c9440;
  }
  .how-img {
    margin: auto;
  }
  .how-text-bold {
    padding: 24px 0 8px;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #ffffff;
  }
  .how-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #ffffff;
  }
}

.characters {
  padding: 30px 16px;
  margin: auto;
  width: 375px;
  height: 869px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/characters/Why\ You'll\ Love\ It\ Section.png");
}

.characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  gap: 24px;
}
.characters-item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.characters-text-bold {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #a0522d;
}
.characters-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .characters {
    padding: 60px 108px;
    margin: auto;
    width: 1440px;
    height: 658px;
    background-image: url("/img/characters/Why\ You'll\ Love\ It\ Section\ \(1\).png");
  }
  .characters-item-two {
    padding-left: 104px;
  }
  .characters-list {
    display: flex;
    flex-direction: column;
    padding: 80px 0 0 624px;
    gap: 24px;
  }

  .characters-text-bold {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .characters-text {
    width: 440px;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.reviews {
  width: 375px;
  margin: auto;
  padding: 30px 16px;
}

.reviews-list {
  width: auto;
  padding-top: 40px;

  margin: auto;
}
.reviews-item {
  width: 343px;
  height: 246px;
  padding: 60px 44px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/reviews/Group.png");
}

.reviews-text-bold {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 14px;
  color: #a0522d;
}
.reviews-text {
  height: 88px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.reviews-title-container {
  display: flex;
  justify-content: space-between;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 558px;
    margin: auto;
    padding: 60px 108px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/reviews/Rewievs.png");
  }
  .reviews-item {
    width: 392px;
    height: 246px;
    padding: 60px 40px 0 40px;

    margin: 0 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/reviews/rew1.png");
  }

  .reviews-text-bold {
    padding-top: 6px;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #a0522d;
  }
  .reviews-text {
    height: 96px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 115px;
  }
}

.gallery {
  width: 375px;
  margin: auto;
  padding: 30px 16px;
}

.gallery__list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gallery__item {
  width: 343px;
  height: 190px;
  overflow: hidden;
  position: relative;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
    padding: 60px 108px;
  }

  .gallery__item {
    width: 600px;
    height: 333px;
    overflow: hidden;
    position: relative;
  }

  .gallery__list {
    padding: 80px 0 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/footer/Review\ Image.png");
  width: 375px;
  height: 170px;
  margin: auto;
  color: #ffffff;
  padding: 60px 16px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 57px;
}
.footer-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    height: 296px;

    padding: 126px 108px 0;
    background-image: url("/img/footer/Footer.png");
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    gap: 84px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 32px;
  }
  .footer-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 124px 16px 116px;
}
.policy-terms-title {
  font-family: "Baloo 2", serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #3044ff;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 116px;
    align-items: start;
  }
  .policy-terms-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
